.plan-grid{
  margin: auto;
  max-width: 80%;
  padding-bottom: 1em;
}

.day{
  width: 250px;
  text-align: center;
}

.week{

}
.title h1{
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
  color: #4a5a62;
}
.title span a{
  color: #61b9bb;
  font-weight: 600;
  text-decoration: none;
}
.title{
  padding: 20px 0;
  text-align: center;
  letter-spacing: 2px;
}
