<div class="plan-grid" [ngSwitch]="key">

  <p-button (click)="getDailyMeal()">Test</p-button>
  <a (click)="viewWeek() " *ngIf="key != 'weekComponent'"
     style="position: absolute;margin: 55px 0px;display: flex;flex-direction: column;align-items: center;"><i
    class="pi pi-arrow-left" style="font-size: 3em; color: #4a5a62"></i><span style="color: #4a5a62">BACK</span></a>


  <div *ngSwitchCase="'monthComponent'" [@enterTrigger]="'fadeIn'">

    <a (click)="viewWeek() " *ngIf="key != 'weekComponent'"
       style="position: absolute;margin: 55px 0px;display: flex;flex-direction: column;align-items: center;"><i
      class="pi pi-arrow-left" style="font-size: 3em; color: #4a5a62"></i><span style="color: #4a5a62">BACK</span></a>
    <div class="title">
      <h1>Month</h1>
      <span>Click on a <a>Day</a> for more details!</span>
    </div>

    <p-calendar class="calender" dateFormat="dd.mm.yy" [(ngModel)]="dateValue" [inline]="true"
                (onSelect)="calenderIsClicked()" [locale]="en"></p-calendar>
  </div>


  <div *ngSwitchCase="'weekComponent'">
    <a (click)="viewMonth() " *ngIf="key != 'monthComponent'"
       style="position: absolute;margin: 55px 0px;display: flex;flex-direction: column;align-items: center;"><i
      class="pi pi-calendar" style="font-size: 3em; color: #4a5a62"></i><span style="color: #4a5a62">MONTH</span></a>
    <div class="title">
      <h1>Week</h1>
      <span>Click on each <a>Day</a> for more details!</span>
    </div>

    <div class="week" style="display: flex; justify-content: center">



      <app-recipe-view [day]="'Monday'" [view]="'month'" (click)="showDate(week[0])">
      </app-recipe-view>

      <app-recipe-view [day]="'Tuesday'" [view]="'month'" (click)="showDate(week[1])">
      </app-recipe-view>

      <app-recipe-view [day]="'Wednesday'" [view]="'month'" (click)="showDate(week[2])">
      </app-recipe-view>

      <app-recipe-view [day]="'Thursday'" [view]="'month'" (click)="showDate(week[3])">
      </app-recipe-view>

      <app-recipe-view [day]="'Friday'" [view]="'month'" (click)="showDate(week[4])">
      </app-recipe-view>

      <app-recipe-view [day]="'Saturday'" [view]="'month'" (click)="showDate(week[5])">
      </app-recipe-view>

      <app-recipe-view [day]="'Sunday'" [view]="'month'" (click)="showDate(week[6])">
      </app-recipe-view>

    </div>




  </div>
  <app-day-view [Date]="clickedDate" *ngSwitchCase="'dayComponent'">
  </app-day-view>


</div>
