<div class="plan-grid" [ngSwitch]="key">

  <a (click)="viewWeek() " *ngIf="key != 'weekComponent'"
     style="position: absolute;margin: 55px 0px;display: flex;flex-direction: column;align-items: center;"><i
    class="pi pi-arrow-left" style="font-size: 3em; color: #4a5a62"></i><span style="color: #4a5a62">BACK</span></a>


  <div *ngSwitchCase="'monthComponent'" [@enterTrigger]="'fadeIn'">

    <a (click)="viewWeek() " *ngIf="key != 'weekComponent'"
       style="position: absolute;margin: 55px 0px;display: flex;flex-direction: column;align-items: center;"><i
      class="pi pi-arrow-left" style="font-size: 3em; color: #4a5a62"></i><span style="color: #4a5a62">BACK</span></a>
    <div class="title">
      <h1>Month</h1>
      <span>Click on a <a>Day</a> for more details!</span>
    </div>

    <p-calendar class="calender" dateFormat="dd.mm.yy" [(ngModel)]="dateValue" [inline]="true"
                (onSelect)="calenderIsClicked()" [locale]="en"></p-calendar>
  </div>


  <div *ngSwitchCase="'weekComponent'">
    <div class="title">
      <h1>Week</h1>
      <span>Click on each <a>Day</a> for more details!</span>
    </div>

    <div class="week" style="display: flex; justify-content: center">


      <div class="ui-g" style="flex-wrap: nowrap">
        <a (click)="lastWeek()" style=" margin: 30px 20px; display: flex; flex-direction: column; align-items: center;"><i
          class="pi pi-arrow-left" style="font-size: 2em; color: #4a5a62"></i><span
          style="color: #4a5a62">LEFT</span></a>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Monday']" [day]="'Monday'" [view]="'month'" (click)="showDate(week[0])"
                         style="margin: 20px 10px;">
        </app-recipe-view>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Tuesday']" [day]="'Tuesday'" [view]="'month'" (click)="showDate(week[1])"
                         style="margin: 20px 10px;">
        </app-recipe-view>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Wednesday']" [day]="'Wednesday'" [view]="'month'"
                         (click)="showDate(week[2])" style="margin: 20px 10px;">
        </app-recipe-view>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Thursday']" [day]="'Thursday'" [view]="'month'" (click)="showDate(week[3])"
                         style="margin: 20px 10px;">
        </app-recipe-view>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Friday']" [day]="'Friday'" [view]="'month'" (click)="showDate(week[4])"
                         style="margin: 20px 10px;">
        </app-recipe-view>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Saturday']" [day]="'Saturday'" [view]="'month'" (click)="showDate(week[5])"
                         style="margin: 20px 10px;">
        </app-recipe-view>

        <app-recipe-view class="ui-g-12 ui-md-3 ui-lg-2" [meals]="weekMeals['Sunday']" [day]="'Sunday'" [view]="'month'" (click)="showDate(week[6])"
                         style="margin: 20px 10px;">
        </app-recipe-view>

        <a (click)="nextWeek()" style=" margin: 30px 20px; display: flex; flex-direction: column; align-items: center;"><i
          class="pi pi-arrow-right" style="font-size: 2em; color: #4a5a62"></i><span style="color: #4a5a62">RIGHT</span></a>
      </div>


    </div>


  </div>
  <app-day-view [Date]="clickedDate" *ngSwitchCase="'dayComponent'">
  </app-day-view>


</div>
