
<div class="day">

  <span>{{date}}</span>


  <br><br>
  <div class="recipies">

    <app-recipe-view *ngFor="let item of dailyMeal | keyvalue"
                     style="width: 300px" [view]="'day'" [type] = item.key
                     [name]="item.value[0]" [descr]="item.value[1]"
                     (click)="clickOnRecipie(item.key)">

    </app-recipe-view>



  </div>


  <div class="recipie-view" *ngIf="recipieView">

    <br>

    <app-recipe-view  [view]="'solo'"  [info]="getInformation()" styleClass="ui-card-shadow">


    </app-recipe-view>
    <br>
    <button pButton type="button" label="close" icon="pi pi-times" class="ui-button-secondary" (click)="cancel()"></button>


  </div>
</div>


