<div *ngIf="view == 'month'" style="cursor: pointer; text-align: end">
  <div class="title" style="padding-top: 5px">
    <h3>{{day}}</h3>
  </div>
  <div class="ui-g" *ngFor="let item of getMeal()| keyvalue">
    <div class="content">
      <span>{{(item.key )}}</span>
      <i class="pi pi-refresh" title="Reload" style="font-size: 1em; color: #4a5a62; margin-left: 5px"></i>
      <p>{{item.value }}</p>
      <hr>
    </div>
  </div>
</div>



<p-card *ngIf="view == 'solo'">
  <span>{{type}}</span>
  <span>BetterView</span>
  <hr>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
  magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
  gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
  elitr, sed diam nonumy eirmod tempor


</p-card>

<p-card *ngIf="view == 'day'">
  <span>{{type}}</span><br>
  <span>{{name}}</span>
  <hr>
</p-card>
