<div *ngIf="view == 'month'" style="cursor: pointer; text-align: end">
  <div class="title" style="padding-top: 5px">
    <h3>{{day}}</h3>
  </div>
  <div class="ui-g" *ngFor="let item of mealNameType| keyvalue">
    <div class="content">
      <span>{{(item.key )}}</span>
      <i class="pi pi-refresh" title="Reload" style="font-size: 1em; color: #4a5a62; margin-left: 5px"></i>
      <p>{{item.value }}</p>
      <hr>
    </div>
  </div>
</div>


<p-card *ngIf="view == 'solo'">
  <span>{{info.key}}</span><hr>

  <span *ngFor="let item of info.values[2]">Calories : {{(item.calories)}}<br>
    Carbohydrate : {{item.carbohydrate}}<br>
    Sugar : {{item.sugar}}<br>
    Fat : {{item.fat}}<br>
    Protein : {{item.protein}}
  </span><hr>

  <span *ngFor="let item of info.values[0]">{{(item.name + ' : ' +  item.unit + ' ' + item.measurement)}} <br></span><hr>
  <ol>
    <li *ngFor="let item of info.values[1]">{{item.direction_description}}</li>
  </ol>

</p-card>

<p-card *ngIf="view == 'day'">
  <span>{{type}}</span><hr>
  <span>{{name}}</span><hr>
  <span>{{descr}}</span>
</p-card>
